%h1 Listing tickets
%br
%table{:class => "table table-striped"}
  %thead
    %tr
      %th Title
      %th Description
      %th User
      %th
      %th
      %th
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.title
        %td= ticket.description
        %td= ticket.user.name
        %td= link_to 'Show', ticket, :class => "btn"
        %td= link_to 'Edit', edit_ticket_path(ticket), :class => "btn"
        %td= link_to 'Destroy', ticket, {:method => :delete, :class => "btn btn-danger", :data => { :confirm => 'Are you sure?' }}

%br

= link_to 'New Ticket', new_ticket_path
